<div style="text-align: center;">
    <input style="padding: 1rem;" type="text" name="year" id="year" placeholder="2022.. 2021.."
        onkeypress="return /[0-9]/i.test(event.key)" value="2022" min="4" maxlength="4"><button
        style="background-color:var(--bg4)" onclick="lookup(this.previousSibling.value)">Search!</button>
</div>
<div class="results">

    <% results.forEach(res=> { %>
        <div class="year<%= res.year %>">
            <h1 class="year" onclick="toggleDisplay(this)">LINE-UP <%= res.performing_on %>
            </h1>
            <div class="lineupContainer">
                <h1>
                    <%= res.name %>
                </h1>
                <div class="artist">
                    <div><img src="<%= res.image%>" alt=""></div>
                    <div>
                        <div class="artistDetails">
                            <% (res.attributes).split(",").forEach(attribute=> {%>
                                <div>
                                    <div>
                                        <%=attribute%>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
</div>